
@media screen and (min-width:500px)  {
    #image1 {
        display: none;
    }
    #image2 {
        width: 100vw;
        padding-top: 60px;
    }
    #logo {
        display: none; 
    }
    #loginbox{
        width: 75vw;
    }
}
@media screen and (min-width:800px) {
    #image1 {
        width: 50vw;
        display: block;
    }
    #image2 {
        width: 50%;
        padding-top: 0;
    }
    #logo {
        display: block; 
    }
    #loginbox{
        width: 50%;
        padding: 10%;
    }
}